[submodule "Triple picture frame"]
	path = Triple picture frame
	url = https://github.com/PhilboBaggins/triple-picture-frame.git
[submodule "IKEA bookshelf joiner"]
	path = IKEA bookshelf joiner
	url = https://github.com/PhilboBaggins/ikea-bookshelf-joiner.git
